@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#FFFDF9] text-stone-900;
        font-family: 'Inter', sans-serif;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-serif;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #FFFDF9;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E7E5E4;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #D8A7B1;
}